<!-- <p *ngFor="let message of messages">{{message?.content}}</p> -->

<div class="container">
    <div class="mesgs">
        <div *ngFor="let message of messages">
        <div class="incoming_msg">
            <!-- <div class="incoming_msg_img"> <img src="{{message.senderPhotoUrl}}" alt="sunil"> </div> -->
            <div class="received_msg">
                <div *ngIf="message.senderUsername != user.username" class="received_withd_msg">
                    <p>{{message.content}}.</p>
                <span class="time_date">{{message.messageSent | date}}</span></div>
            </div>
        </div>
        <div *ngIf="message.senderUsername == user.username" class="outgoing_msg">
            <div class="sent_msg">
                <p>{{message.content}}</p>
                <span class="time_date">{{message.messageSent | date}}</span> </div>
            </div>
        </div>
        <div class="type_msg">
        <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
