<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav opened mode="side" class="leftside">
      <mat-nav-list *ngIf="loggedIn()">
          <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>home</mat-icon> Home </a>
          <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>notifications</mat-icon> Notifications</a>
          <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>person</mat-icon> Profile </a>
          <a mat-list-item [routerLink]="['/connections']"> <mat-icon mat-list-icon>people</mat-icon> Connections</a>
          <a mat-list-item [routerLink]="['/connections']"> <mat-icon mat-list-icon>messages</mat-icon> Message </a>  
      </mat-nav-list>
  </mat-sidenav>

  
</mat-sidenav-container>
