.sidenav-container{
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.leftside{
  margin-top: 73px;
  margin-left: 3%;
  background: white;
}



/* mat-nav-list{
  position: fixed;
} */

mat-nav-list a:hover{
  background-color: rgb(231, 241, 237);
  height: 40px;
}

mat-icon{
  color: rgb(23, 160, 76);
}


mat-nav-list a{
  color: black;
  font-size: medium;
  border-radius: 5px;
  background-color: white;
  height: 40%;
}

p{
  color: black;
}
