<mat-sidenav-container class='sidenav-container mr-4'>
  <mat-sidenav opened mode="side" class="leftside">
      <mat-nav-list *ngIf="loggedIn()">
          <div 
            fxLayout="column"
            fxLayoutGap="1%">
            <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>camera</mat-icon> <h4 *ngIf="(scrnSize=='lg' || scrnSize>='xl')" mat-line>Home</h4> </a>
            <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>notifications</mat-icon> <h4 *ngIf="(scrnSize=='lg' || scrnSize>='xl')" mat-line>Notifications </h4></a>
            <a mat-list-item [routerLink]="['/home']"> <mat-icon mat-list-icon>person</mat-icon> <h4 *ngIf="(scrnSize=='lg' || scrnSize>='xl')" mat-line> Profile</h4> </a>
            <a mat-list-item [routerLink]="['/connections']"> <mat-icon mat-list-icon>people</mat-icon> <h4 *ngIf="(scrnSize=='lg' || scrnSize>='xl')" mat-line> Connections</h4></a>
            <a mat-list-item [routerLink]="['/connections']"> <mat-icon mat-list-icon>messages</mat-icon> <h4 *ngIf="(scrnSize=='lg' || scrnSize>='xl')" mat-line> Message</h4> </a>  
          </div>
      </mat-nav-list>
  </mat-sidenav>

  
</mat-sidenav-container>
