h6 {
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

card {
    height: 1%;
    width: 10%;
}

p{
    display: block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

@keyframes  fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: fa-blank 1.5s linear infinite;
    color: rgb(1, 189, 42)
}